<!-- Send the variables for the css files -->
<script>
	var bannerHeight		= '{BANNER_HEIGHT}';
	var borderRadius		= '{BORDER_RADIUS}';
	var overrideColour		= '{OVERRIDE_COLOUR}';
	var searchBelow			= '{SEARCH_BELOW}';
	var siteLogoBanner		= '{SITE_LOGO_BANNER}';
	var siteLogoCentre		= '{SITE_LOGO_CENTRE}';
	var siteLogoRight		= '{SITE_LOGO_RIGHT}';
	var siteNameSupress		= '{SITENAME_SUPRESS}';
	var useBanner			= '{USE_BANNER}';
	var useOverrideColour	= '{USE_OVERRIDE_COLOUR}';
</script>

<!-- INCLUDEJS @david63_sitelogo/css_switch_fn.js -->
